.App {
  background-color: #000435;
  position: relative;
}
.App-home, .App-about {
  transition: opacity 0.5s ease-in-out;
}
.fade-out {
  opacity: 0%;
}

.fade-in {
  opacity: 100%;
}

body, html {
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Content {
  position: relative;

}

.App-header {
  position: inherit;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
}

.App-about {
  position: inherit;
  text-align: center;
  z-index: 3;
}

.App-background {
  position: relative;
  z-index: 1;
}

.App-navbar {
  display: flex;
  position: relative;
  z-index: 5;
}

