
.animated-background {
    position: relative;
    background-color: #000435;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
}

.circle {
    position: absolute;
    filter: blur(100px);
}

.other-content {
    position: relative;
}
