nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: transparent;
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    padding-right: 40px;
}

li {
    margin-right: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:after {
    content: '';
    display: block;
    border-bottom: 3px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover:after {
    transform: scaleX(1);
}

a:after {
    transform-origin: 0% 50%;
}
