.ml-auto {
    margin-left: auto!important;
}

.animation {
    font-weight: bold!important;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 10px!important;
    padding-right: 30px!important;
}

.animation:after {
    content: '';
    display: block;
    border-bottom: 3px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.animation:hover:after {
    transform: scaleX(1);
}

.animation:after {
    transform-origin: 0% 50%;
}
button {
    float: right;
    background-color: transparent!important;
    color: transparent!important;
}
button:hover {
    background-color: transparent!important;
    color: transparent!important;
}